<% if flash[:user_login_error] %>
  <%= flash[:user_login_error] %>
<% end %>

<div class='side-pages'>
  <h3>Login</h3>
  <%= form_for :session, url: sessions_path do |f| %>
    <div>
      <%= f.email_field :email, placeholder: 'email', autofocus: true %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: 'password' %>
    </div>
    <div>
      <%= button_tag class: "btn-floating btn waves-effect waves-light yellow", title: 'submit' do %>
        <i class='large material-icons'>done</i>
      <% end %>
    </div>
  <% end %>
</div>
