
<div class='edit'>
  <%= form_for :note, method: :put, url: note_path, id: "form-note", remote: true do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "#{@note.title}", id: 'note-title' %>
    </div>
    <div>
      <%= button_tag class: "btn-floating btn waves-effect waves-light yellow" do %>
        <i class='large material-icons'>done</i>
      <% end %>
    </div>
  <% end %>
  <%= link_to ("<i class='large material-icons'>delete</i>").html_safe, @note, method: :delete, url: note_path(@note.id), data: { confirm: "are your sure?" }, class: "btn-floating btn waves-effect waves-light red", title: 'delete' %>
</div>
