<div class='row'>
  <div class='col s6'>
    <header class='boxed-edit'>
      <h3 id='note-show-title'> <%= @note.title %> </h3>
      <p id='note-edit-link'> <%= link_to ("<i class='large material-icons'>mode_edit</i>").html_safe, edit_note_path(@note), remote: true, class: "btn-floating btn waves-effect waves-light blue", title: 'edit' %> </p>
    </header>
    <div class='note-edit-form' style="display:none;"></div>

    <div class='video-show-list' style="display:inline;"><%= render partial: '/videos/show' %></div>

    <% if @note.videos.size < 1 %>
      <div class='youtube-new-form'>
        <%= render '/videos/new' %>
      </div>
    <% end %>

    <div>
      <%= render '/stamps/new' %>
    </div>
  </div>

  <div class='col s6'>
      <div class='stamp-show-list' style="display:inline;"><%= render partial: '/stamps/show' %></div>
  </div>

</div>
