<h5 class='h5-headers'>New Stamp</h5>

<div class='stamp-form'>
  <%= form_for :stamp, url: stamps_path do |f| %>
    <div id='stamp-time-form'>
      <%= f.text_field :time, placeholder: "time" %>
    </div>
    <div class='input-field'>
        <%= f.text_area :body, placeholder: "body", id: 'textarea1', class: 'materialize-textarea' %>
    </div>
    <div>
      <%= f.hidden_field :note_id, value: @note.id %>
    </div>
    <div>
      <%= f.submit "insert a new timestamp", class: "waves-effect waves-light btn"%>
    </div>
  <% end %>
</div>
