<h5 class='h5-headers'>New Stamp</h5>

<div class='stamp-form'>
  <%= form_for :stamp, url: stamps_path, remote: true, id: 'stamp-form' do |f| %>
    <div class='row'>
      <div class='col s1'><a href='#' class="btn-floating btn waves-effect waves-light green", title='add'><i class="material-icons">add</i></a></div>
      <div class='col s3'>
        <%= f.text_field :time, placeholder: "time", id: 'time-input' %>
      </div>
    </div>
    <div class='input-field'>
        <%= f.text_area :body, placeholder: "body", id: 'textarea1', class: 'materialize-textarea' %>
    </div>
    <div>
      <%= f.hidden_field :note_id, value: @note.id %>
    </div>
    <div>
      <%= button_tag class: "btn-floating btn waves-effect waves-light yellow", title: 'submit' do %>
        <i class='large material-icons'>done</i>
      <% end %>
    </div>
  <% end %>
</div>
