<h5 class='h5-headers'>New Stamp</h5>

<div class='stamp-form'>
  <%= form_for :stamp, url: stamps_path do |f| %>
    <div>
      <%= f.text_field :time, placeholder: "time" %>
    </div>
    <div>
      <%= f.text_field :body, placeholder: "body" %>
    </div>
    <div>
      <%= f.hidden_field :note_id, value: @note.id %>
    </div>
    <div>
      <%= f.submit "insert a new timestamp" %>
    </div>
  <% end %>
</div>
