<div id='stamp-list'>
  <% @note.stamps.each do |stamp| %>
    <div class="<%= stamp.id %>">
      <div class='row'>
        <ul>
          <li>
            <div class='col s10'>
              <div class='row'>
                <div class='col s2'><div class='chip'><%= stamp.time %></div></div>
                <div class='col s10'><div class='wordwrap'><%= stamp.body %></div></div>
              </div>
              <div id="<%= stamp.id %>" style="display:none;"></div>
            </div>
            <div class='col s1'>
              <%= link_to ("<i class='large material-icons'>mode_edit</i>").html_safe, edit_stamp_path(stamp), class: "btn-floating btn-small waves-effect waves-light blue", title: 'edit', remote: true %>
            </div>
            <div class='col s1'>
              <%= link_to ("<i class='large material-icons'>delete</i>").html_safe, stamp, url: stamp_path(stamp.id), method: :delete, data: { confirm: "are you sure?" }, class: "btn-floating btn-small waves-effect waves-light red", title: 'delete', remote: true  %>
            </div>
        </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
