<h3>Register</h3>

<%= form_for :user, url: users_path do |f| %>
  <div>
    <%= f.text_field :username, placeholder: 'username' %>
  </div>
  <div>
    <%= f.email_field :email, placeholder: 'email' %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: 'password' %>
  </div>
  <div>
    <%= button_tag class: "btn-floating btn waves-effect waves-light yellow", title: 'submit' do %>
      <i class='large material-icons'>done</i>
    <% end %>
  </div>
<% end %>
