<div class='side-pages'>
  <header class='boxed-edit'>
    <h2><%= @user.username %></h2>
    <p id='user-edit'><%= link_to ("<i class='large material-icons'>mode_edit</i>").html_safe, edit_user_path(@user), class: "btn-floating btn waves-effect waves-light blue", title: 'edit' %></p>
  </header>

  <h4>All Notes</h4>


  <table class='highlight'>
    <thead>
      <tr>
          <th data-field="id">Notes</th>
          <th data-field="name">Video Title</th>
          <th data-field="price">Number of TimeStamps</th>
      </tr>
    </thead>
    <% @user.notes.each do |note| %>
    <tbody>
      <tr>
        <td> <%= link_to note.title, note_path(note) %> </td>
        <td> <% note.videos.each do |video| %>
              <%= video.title %>
             <% end %>
        </td>
        <td> <%= note.stamps.size %> </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
