<div class='video-edit'>
  <%= form_for :video, method: :put, url: video_path, remote: true, class: 'youtube-form' do |f| %>
    <div class='row'>
      <div class='col s4'>
        <div>
          <%= f.text_field :title, placeholder: "#{@video.title}", id: 'video-title-form' %>
        </div>
      </div>
        <div class='col s1'>
          <%= button_tag class: "btn-floating btn waves-effect waves-light yellow", title: 'submit' do %>
          <i class='large material-icons'>done</i>
          <% end %>
        </div>
      </div>
    <div class='row'>
      <div class='col s4'>
        <div>
          <%= f.text_field :link, placeholder: "#{@video.link}", class: 'youtube-link' %>
        </div>
      </div>
      <div class='col s1'>
        <%= button_tag id: "reload", class: "btn-floating btn waves-effect waves-light orange", title: 'reload' do %>
          <i class='large material-icons'>input</i>
        <% end %>
      </div>
    </div>
  <% end %>
