<h5 class='h5-headers'>New Video</h5>

<%= form_for :video, url: videos_path do |f|%>
  <div>
    <%= f.text_field :title, placeholder: "title" %>
  </div>
  <div>
    <%= f.text_field :link, placeholder: "paste youtube link here" %>
  </div>
  <div>
    <%= f.hidden_field :note_id, value: @note.id %>
  </div>
  <div id='video-submit'>
    <%= button_tag class: "btn-floating btn waves-effect waves-light yellow", title: 'submit' do %>
      <i class='large material-icons'>done</i>
    <% end %>
  </div>
<% end %>
