<h3>New Video</h3>

<%= form_for :video, url: videos_path do |f|%>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "title" %>
  </div>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url, placeholder: "paste url here" %>
  </div>
  <div>
    <%= f.submit "insert the new video" %>
  </div>
<% end %>
