<!DOCTYPE html>
<html>
<head>
  <title>YoutubeNoteTaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <header class='nav-wrapper'>
      <ul>
        <li> <%= link_to 'home', root_url %> </li>
        <%= render '/sessions/login' %>
      </ul>
    </header>
  </nav>

<%= yield %>

</body>
</html>
